header {
    background: var(--bg-primaryHeader-color) url(../../../media/images/background/fundo-deitado.jpe) center center no-repeat;
    background-size: cover;
    color: var(--title-color);
    display: flex;
    justify-content: space-between;
    height: 70px;
    border: 1px solid var(--border-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

#nav-data-container {
    background-color: var(--bg-secondaryHeader-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    padding: 0.5rem 4rem;
    border-left: 2px solid var(--border-color);
}

#nav-data {
    color: var(--title-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    #nav-data-container {
        display: none;
    }
}