#main-content {
     display: flex;
     flex-flow: row nowrap;
     padding: 1rem;
     gap: 1rem;

     @media screen and (max-width: 768px) {
        display: flex;
        flex-flow: column nowrap;
    }
}