#welcome-section {
    background: var(--bg-primaryHeader-color) url(../../../media/images/background/fundo-emPé.jpe) center center no-repeat;
    background-size: cover;
    color: var(--title-color);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    padding: 30px;
    gap: 15px;
    min-width: 250px;
    max-height: 300px;

    @media screen and (max-width: 768px) {
        min-height: 350px;
    }
}

#welcome-section p {
    line-height: 20px;
    font-size: 1rem;
}