* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100dvh;
}

h1 {
    font-size: 1.60rem;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        font-size: 1.3rem;
    }
}

h2 {
    font-size: 1.30rem;
    font-weight: bold;
    @media screen and (max-width: 768px) {
        nav h2 {
            font-size: 1rem;
        }
    }
}

h3 {
    font-size: 1.10rem;
}

p {
    font-size: 0.90rem;

    @media screen and (max-width: 768px) {
        
    }
}

.title_container {
    color: var(--subtitle-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;
    gap: 15px;
    margin-top: 5%;
}