* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100dvh;
}

h1 {
    font-size: 1.70rem;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        font-size: 1.3rem;
    }
}

h2 {
    font-size: 1.50rem;
    font-weight: bold;
    @media screen and (max-width: 768px) {
        nav h2 {
            font-size: 1rem;
        }
    }
}

h3 {
    font-size: 1.10rem;
}

p {
    font-size: 0.90rem;

    @media screen and (max-width: 768px) {
        
    }
}

#welcome-section,
#product-section,
#select-section,
#discount-section,
#resume-section,
#details-section,
#flow-section {
    width: 100%;
    min-height: 435px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

.title_container {
    color: var(--subtitle-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-top: 5%;
    margin-left: 2%;
    gap: 10px;
}

.default {
    color: var(--text-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 15%;
    gap: 10px;
}

.default h3 {
    color: var(--subtitle-color);
}

.default_bg {
    background: var(--title-color);
    border-radius: 50%;
}

.hidden {
    display: none !important;
}