* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Google Sans', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body);
  color: var(--text-dark);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 24px;
}