:root {
    --bg-primaryHeader-color: #012F57;
    --bg-secondaryHeader-color: #01294F;
    --border-color: #054478;
    --title-color: #E9ECF3;
    --subtitle-color: #204079;
    --text-color: #A7C0DF;
    
    --bg-body: #FFFFFF;
    --bg-light-blue: #F0F6FC;
    --bg-card-border: #E2E8F0;
    --text-dark: #0F172A;
    --text-muted: #64748B;
    --accent-blue: #0070F3;
    --accent-blue-hover: #005ecb;
}