:root {
    --bg-primaryHeader-color: #012F57;
    --bg-secondaryHeader-color: #01294F;
    --border-color: #054478;
    --title-color: #E9ECF3;
    --subtitle-color: #204079;
    --text-color: #A7C0DF;
}